
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-stack);
  }
  .text{
    position:absolute;
    color: white;
    margin-right:40px;
    z-index: 10;
    margin-left:50px; 
    margin-top:15px;
    font-size:1.5rem;  
  }
  
  .page {
    width: 100vw;
    height: 100vh;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
  }
 
  
  
  .menu-wrapper {
    position: fixed;
    top: 40px;
    right: 70px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  }
  
  .menu-wrapper .toggle {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    z-index: 999;
    cursor: pointer;
    opacity: 0;
  }
  
  .menu-wrapper .hamburger {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    z-index: 998;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    box-sizing: border-box;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  .menu-wrapper .hamburger .bar {
    position: relative;
    width: 100%;
    height: 3px;
    background: var(--light);
    z-index: 5;
    transition: all 0.2s linear;
    background-color: red;
    opacity: 1;
  }
   
  .menu-wrapper .hamburger .bar::before,
  .menu-wrapper .hamburger .bar::after 
  {
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 3px;
    background: white;
    transition: all 0.2s linear;
  }
  
  .menu-wrapper .hamburger .bar::after {
    top: 10px;
  } 
     
  .menu-wrapper .toggle:checked:hover + .hamburger{
    transform: rotate(135deg);
  }

  .menu-wrapper .toggle:checked + .hamburger .bar::before,
  .menu-wrapper .toggle:checked + .hamburger .bar::after {
    top: 0;
    transform: rotate(90deg);
    background-color: red;
  }
  
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    background:red;
    z-index: 1;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-content: center;
    
  }
  .menu ul{
    width: 80%;
    margin-top:172px; 
    margin-left:-150px;     
    line-height: 70px;


  }

  .menu ul li {
    color: white;
    font-size: calc(1.55rem + 2.44444vw);;
    list-style-type: none;
    text-align: center;
    margin: 0;
    cursor: pointer;
    width: 25%;
    text-align: justify;
    font-family: 'px-grotesk-bold';
    font-weight: 500;

    }
  .langages{
    width: 227px;
    background: #F3F3F3;
    height: 100%;
  } 
  .langages p{
    margin-top: 127px;
    font-size: 11px;
    text-align: center;
    color: #171717;
    text-transform: uppercase;
    display: block;


  }
  .langages ul{
    margin-top:38px;
    margin-left:37px;  
    line-height: 30px;
  }
  .langages ul li{
    
    font-size:15px; 
    color: black;
    right: 63px;
    z-index: 10;

  }
  .langages ul li:hover{
    color: red;
  }
  
  .menu-wrapper .toggle:checked + .hamburger + .menu {
    opacity: 1;
    width: 100%;
    height: 400vh;
    }
    .made{
    font-family: 'px-grotesk-regular';
    font-size: 12px;
    color: #ffffff;
    white-space: nowrap;
    margin-top: 86vh;
    width: 100px;
    height: 20px;
    margin-left:80px;
  
    }
    h5{
      font-size: 12px;
      margin-top: 140%;
      margin-left: 50px;
    }